name: sedai-onboarding-s3-ci-cd

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'aws/cloudformation/**.yml'
      - 'aws/cloudformation/**.yaml'
      - 'aws/cloudformation/nested/**.json'
      - 'eks/**clusterrole.yaml'
      - 'aws/cloudformation/nested-v2/**.json'
      - 'aws/cloudformation/billing-data-exporter/**.yaml'

jobs:
  build:
    name: Push yamls
    runs-on: sedai-arc-onboarding-s3
# Initialization

    steps:
      
      - name: SCM Checkout 
        uses: actions/checkout@v3

      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws --version
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4  # Updated to v4
        with:
          aws-access-key-id: ${{ secrets.S3_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.S3_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
    
      
      - name: Push to S3 bucket
        run: |
          aws s3 cp aws/cloudformation/ s3://${{ secrets.S3_BUCKET }} --exclude "*" --include "*.yml" --include "*.yaml" --include "nested/*.json" --recursive
          aws s3 cp eks/ s3://${{ secrets.S3_BUCKET }} --exclude "*" --include "*clusterrole.yaml" --recursive
